/**
  * 网站的一些css效果，包括字体等
  **/

body {
  background: #F2F2F2;
  line-height: 1.6;
  font-weight: 480;
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 72px;
}
pre {
  padding: 0px;
  margin: 0px;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
h1, h2 {
  border-bottom: 1px solid #CECECE;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #3E3E3E;
}
a:hover {
  text-decoration: none;
  color: #259;
}
h1 > a:hover {
  color: #3E3E3E;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar {
    min-height: 48px;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav > li > a {
    font-size: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .navbar-brand {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding-bottom: 0;
    padding-top: 0;
  }
}
#headerimg {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}
.navbar-toggle {
  background: #FFF;
}
.navbar-toggle .icon-bar {
  background: #000;
}
.header-about {
  text-align: center;
  background: #FFF;
  border-radius: 2px;
}
.header {
  background-image: none;
  background: #FFFFFF;
  border-radius: 0px;
  border-width: 0px 4px 4px 0px;
  border-color: #CECECE;
  border-style: solid;
}
.header a {
  text-overflow: ellipsis
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.fa {
  color: #3E3E3E;
}
.pagenav {
  float: right;
}

/** index **/

.index {
  font-size: 14px;
}
.index-post {
  background: #FFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0px;
  margin-top: 16px;
  border-radius: 0px;
  border-width: 2px 4px 4px 2px;
  border-color: #CECECE;
  border-style: solid;
}
.index-post h1 {
  padding-bottom: 8px
}
.index a:link {
  text-decoration: none;
}
.index a:visited {
  text-decoration: none;
}
.index a:hover {
  text-decoration: none;
}
.index a:active {
  text-decoration: none;
}
#celerysoft {
  text-align: center;
}
#celerysoft p {
  text-shadow: .5px .5px .5px #FFF;
}
#abouthead {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  text-align: center;
  border-radius: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
}
#abouthead:hover {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/** page页面样式 **/

.page {
  background: #FFF;
  padding: 20px;
  padding-top: 4px;
  margin-left: -10px;
  margin-right: -10px;
  /*-webkit-box-shadow: 0px 0px 30px #d3d3d3 ;*/
  /*-moz-box-shadow: 0px 0px 30px #d3d3d3;*/
  /*box-shadow: 0px 0px 30px #d3d3d3;*/
}
.page-title {
  text-align: center;
  padding-bottom: 10px;
}
.page-title>h1 {
}
.page-content a {
  font-weight: bold;
  text-decoration: none;
  color: #3E3E3E;
}
.page img {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #e3e3e3;
  -moz-box-shadow: 0px 0px 5px #e3e3e3;
  box-shadow: 0px 0px 5px #e3e3e3;
  margin-top: 10px;
  margin-bottom: 10px;
}

/** post页面样式 **/

.post {
  background: #FFF;
  padding: 20px;
  padding-top: 4px;
  margin-left: -10px;
  margin-right: -10px;
  /*-webkit-box-shadow: 0px 0px 30px #d3d3d3 ;*/
  /*-moz-box-shadow: 0px 0px 30px #d3d3d3;*/
  /*box-shadow: 0px 0px 30px #d3d3d3;*/
}
.post-title {
  text-align: center;
  padding-bottom: 10px;
}
.post-desc {
  text-align: center;
  font-size: 14px;
}
.post-tag {
  text-align: center;
  font-size: 14px;
}
.post-tag a {
  font-weight: normal;
}
.post-copyright a {
  text-decoration: null;
  color: blue;
}
.post-content a {
  text-decoration: underline;
  color: blue;
}
.post img {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #e3e3e3;
  -moz-box-shadow: 0px 0px 5px #e3e3e3;
  box-shadow: 0px 0px 5px #e3e3e3;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*页脚样式*/

.copyright {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 14px;
}
.copyright a {
  text-decoration: none;
  color: blue;
}
.copyright-mobile {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.0;
  text-align: center;
  font-size: 10px;
}
.copyright-mobile a {
  text-decoration: none;
  color: blue;
}

/*timeline*/

.timeline {
  margin-top: 75px;
}

/** category **/

.category h1, h2 {
  padding-bottom: 5px;
}
.category h2 {
  font-size: 16px;
}
.category li {
  list-style: none;
  line-height: 26px;
}
.category span {
  font-size: 12px;
}

/** archive **/

.archive h2 {
  font-size: 16px;
}
.archive h1, h2 {
  padding-bottom: 5px;
}
.archive li {
  list-style: none;
  line-height: 26px;
}
.archive span {
  font-size: 12px;
}

.notice {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #FFFFFFF;
  cursor: default;
  background-color: #3E3E3E;
  border-color: #3E3E3E;
}
