<!-- 返回页面顶部按钮 -->
<div class="scroll-top hidden-sm">
	<i class="fa fa-arrow-circle-up"/></i>
</div>
<div class="scroll-top-mobile visible-sm">
	<i class="fa fa-arrow-circle-up"/></i>
</div>
<style type="text/css">
.scroll-top {
		position: fixed;
		bottom: 80px;
		right: 80px;
		display: none;
		font-size: 56px;
		cursor: pointer;
		opacity: 0.9;
		z-index: 240
}
.scroll-top-mobile {
		position: fixed;
		bottom: 16px;
		right: 16px;
		display: none;
		font-size: 40px;
		cursor: pointer;
		opacity: 0.9;
		z-index: 240
}
</style>
<script>
$('.scroll-top').bind('click', function(e) {
  e.preventDefault();
  $('body, html').animate({
    scrollTop: 0
  }, 200);
});
$('.scroll-top-mobile').bind('click', function(e) {
  e.preventDefault();
  $('body, html').animate({
    scrollTop: 0
  }, 200);
});
</script>
